body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
.orange{
    color: orange;
}
.container{
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    margin-bottom: 80px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.half-width{
    width: 50%;
    text-align: justify;
   
}
.half-width .my-img{
    padding-left: 10%;
    width: 90%;
}
.link-button{
    color: white;
    background-image: linear-gradient(rgb(238, 38, 38),rgb(223, 198, 132));
    text-decoration: none;
    padding: 10px 40px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 10px;
}

/* 2nd part start */
.half-width .my-img2{
    padding-right: 10%;
    width: 85%;
}
.half-width .text{
    width: 80%; 
    padding-left: 20%;
}
.dream-part{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
/* 2nd part end  */

/* 3rd part start  */


.content{
    padding:20px 60px;
    box-shadow: 10px 10px 40px gray;
    margin: 0 20px;
}
#border1{
    border-left: 10px solid;
    border-image:  linear-gradient(rgb(236, 223, 102),rgb(182, 136, 8));
    border-image-slice: 1;
}

#border2{
    border-left: 10px solid;
    border-image:  linear-gradient(rgb(53, 23, 187),rgb(112, 216, 230));
    border-image-slice: 1;
}
.experiences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
/* 3rd part end  */
footer{
    margin-top: 90px;
    text-align: center;
    margin-top: 150px;
    color: rgb(66, 63, 63);
}